body,ul,li{margin:0;padding:0;}

.wrap{height: 200px;width: 1000px;margin:200px auto;transform-style: preserve-3d;}
.wrap ul{position: relative;height: 200px;width: 133px;position: relative;transform-style: preserve-3d;
border: solid 1px red;margin:auto;animation: run 8s linear infinite;}
.wrap li{position: absolute;list-style: none; left:0;top:0;}
.wrap li:nth-child(1){transform: rotateY(0deg)translateZ(-300px);}
.wrap li:nth-child(2){transform: rotateY(36deg) translateZ(-300px);}
.wrap li:nth-child(3){transform: rotateY(72deg) translateZ(-300px);}
.wrap li:nth-child(4){transform: rotateY(108deg) translateZ(-300px);}
.wrap li:nth-child(5){transform: rotateY(144deg) translateZ(-300px);}
.wrap li:nth-child(6){transform: rotateY(180deg) translateZ(-300px);}
.wrap li:nth-child(7){transform: rotateY(216deg) translateZ(-300px);}
.wrap li:nth-child(8){transform: rotateY(252deg) translateZ(-300px);}
.wrap li:nth-child(9){transform: rotateY(288deg) translateZ(-300px);}
.wrap li:nth-child(10){transform: rotateY(324deg) translateZ(-300px);}
@keyframes  run{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}